# Node modules
node_modules
npm-debug.log

# Environment files
.env
.env.local
.env.development
.env.production

# Git
.git
.gitignore

# Docker files (optional)
docker-compose.yml
Dockerfile
.dockerignore

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode
.idea

# Testing
coverage

# Misc
*.md
